<div>
    <div class="panel panel-default">
        <div class="panel-heading">Action Phase</div>
        <div class="panel-body">
            <ul class="nav nav-tabs">
                <li class="active"><a data-target="#hunt" data-toggle="tab" ng-click="filter('hunt')">Hunt</a></li> 
                <li><a data-target="#research" data-toggle="tab" ng-click="filter('research')">Research</a></li> 
                <li><a data-target="#explore" data-toggle="tab" ng-click="filter('explore')">Explore</a></li> 
                <li><a data-target="#craft" data-toggle="tab" ng-click="filter('craft')">Craft</a></li> 
                <li><a data-target="#guard" data-toggle="tab" ng-click="filter('guard')">Guard</a></li> 
            </ul>
            <div class="tab-content">
                <div id="hunt" class="tab-pane active">
                    <br/>
                    <p>Game board: <b>{{board_generation}}</b></p>
                    <div class="panel panel-default"> 
                        <div class="panel-heading">{{monster.name}}</div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-condensed">
                                    <tr>
                                        <td>HP:</td> 
                                        <td><span class="monster-hp">{{monster.hp}}</span> <span style="margin-left:10px"></span>
                                            <button class="btn-default btn btn-xs" ng-click="increment($event, 'monster')">life [+]</button>
                                            <button class="btn-default btn btn-xs" ng-click="decrement($event, 'monster')">life [-]</button>
                                        </td>
                                    </tr> 
                                    <tr>
                                        <td>MOVE:</td> 
                                        <td>{{monster.move}}</td> 
                                    </tr> 
                                </table>
                            </div>
                        </div>
                        <button class="btn btn-default btn-lg btn-block" monster-action>Monster Action</button>
                    </div>
                
                    <div class="panel panel-default"> 
                        <div class="panel-heading">Hunters</div>
                        <div class="panel-body">

                            <div class="table-responsive">
                                <table class="table table-condensed">
                                    <tr ng-repeat="char in character">
                                        <td>{{char.name}}</td>
                                        <td class="hp"><span class="char-hp">{{char.hp}}</span> hp</td>
                                        <td><button class="btn-default btn btn-xs" ng-click="increment($event, 'player')">life [+]</button></td>
                                        <td><button class="btn-default btn btn-xs" ng-click="decrement($event, 'player')">life [-]</button></td>
                                    </tr>
                                </table>
                            </div>   

                        </div>
                    </div>                    
                </div>

                <div id="research" class="tab-pane">
                    <h3>Researchers</h3>
                    <div ng-repeat="char in character">
                        {{char.name}} 
                    </div>
                </div>

                <div id="explore" class="tab-pane">
                    <h3>Explorers</h3>
                    <div ng-repeat="char in character">
                        {{char.name}} 
                    </div>
                </div>

                <div id="craft" class="tab-pane">
                    <h3>Crafters</h3>
                    <div ng-repeat="char in character">
                        {{char.name}} 
                    </div>
                </div>

                <div id="guard" class="tab-pane">
                    <h3>Guards</h3>
                    <div ng-repeat="char in character">
                        {{char.name}} 
                    </div>
                </div>
            </div>
        </div>
        <!--<button class="btn btn-primary btn-lg btn-block" type="button"  ng-click="proceed('/camp_phase')">Camp Phase</button>-->
    </div>
</div>
