<div class="col-md-8">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">{{character.name}}'s profile</div>
            <div class="panel-body">
                
                <table class="table table-condensed">
                    <tr>
                        <td>hit points:</td> 
                        <td>{{character.hp}}</td> 
                    </tr> 
                    <tr>
                        <td>intelligence:</td> 
                        <td>{{character.intel}}</td> 
                    </tr> 
                    <tr>
                        <td>luck:</td> 
                        <td>{{character.luck}}</td> 
                    </tr> 
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Assign Tasks</div>
            <div class="panel-body">            
                <select class="form-control" ng-model="player_task" ng-init="player_task='Hunt'" ng-change="set_task()">
                    <option ng-repeat="job in jobs">{{job.jobName}}</option> 
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-4" ng-show="task">
        <div class="panel panel-default">
            <div class="panel-heading">{{player_task}}</div>
            <div class="panel-body">            
                <select class="form-control" ng-model="task_specific" ng-change="set_task_specific()"> 
                    <option value="" ng-hide="task_specific">----</option> 
                    <option ng-repeat="t in task" value="{{t.value}}">{{t.task}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-4" ng-show="task_desc">
        <div class="panel panel-default">
            <div class="panel-heading">{{player_task}}</div>
            <div class="panel-body">            
                {{task_desc}}
            </div>
        </div>
    </div>

    <button class="btn btn-primary btn-lg btn-block" type="button"  ng-click="">save profile</button>
</div>
