<div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">{{character.name}}'s profile</div>
            <div class="panel-body">                
                <div class="table-responsive">
                    <table class="table table-condensed">
                        <tr>
                            <td>hit points:</td> 
                            <td>{{character.hp}}</td> 
                        </tr> 
                        <tr>
                            <td>intelligence:</td> 
                            <td>{{character.intel}}</td> 
                        </tr> 
                        <tr>
                            <td>luck:</td> 
                            <td>{{character.luck}}</td> 
                        </tr> 
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Assign Tasks</div>
            <div class="panel-body">            
                <select class="form-control" ng-model="player_task" ng-change="set_task()"> 
                    <option value="" ng-hide="player_task">----</option>
                    <option ng-repeat="job in jobs">{{job.jobName}}</option> 
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-4" ng-show="task">
        <div class="panel panel-default">
            <div class="panel-heading">{{player_task}}</div>
            <div class="panel-body">            
                <select class="form-control" ng-model="task_specific" ng-options="t.value as t.task for t in task"> 
                    <option value="" ng-hide="task_specific">----</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-4" ng-show="task_desc">
        <div class="panel panel-default">
            <div class="panel-heading">{{player_task}}</div>
            <div class="panel-body">            
                {{task_desc}}
            </div>
        </div>
    </div>
    <br/>
    <button class="btn btn-primary btn-lg btn-block" type="button"  ng-click="save_character()">save profile</button>
    <button class="btn btn-default btn-lg btn-block" type="button"  ng-click="back()">back to supply phase</button>
</div>
