<div class="well col-md-9">
    <legend>Farmers</legend>
    <div class="table-responsive">
        <table class="table table-condensed">
            <thead>
                <th>name</th>     
                <th>gender</th>     
                <th>job</th>     
            </thead>

            <tr ng-repeat="char in jobbers">
                <td>{{char.name}}</td>
                <td>{{char.gender}}</td>
                <td><button class="btn btn-primary btn-sm">Farm</button></td>
            </tr>
        </table>
</div>
