<div class="well col-md-9">
    <legend>Supply Phase</legend>
    <!--
    <button class="btn btn-default btn-lg btn-block" type="button"  ng-click="proceed('/phase/farm')">Farm</button>
    <button class="btn btn-default btn-lg btn-block" type="button"  ng-click="proceed('/phase/mine')">Mine</button>
    <button class="btn btn-default btn-lg btn-block" type="button"  ng-click="proceed('/phase/hunt')">Hunt</button>
    -->
</div>
