<div class="well col-md-9">
    <h3>Supply Phase</h3>

    <div class="table-responsive">
        <table class="table table-condensed">
            <tr ng-repeat="char in characters">
                <td><a href="/#/view/{{char.id}}">{{char.name}}</a></td>
                <td>{{char.gender}}</td>
            </tr>
        </table>
    </div>
</div>
